/part1/notes-app/
/part3
/part4/server
/part6/notes-app-redux/
/part7/router-app/
/part7/webpack/
/part8/graphql-phonebook-backend
/part8/graphql-phonebook-frontend
/part9/typescript
/part9/ilaris-flight-diaries
/part9/my-app